
body {
  margin: 0;
  background-color: rgb(243, 243, 243); 
  font-family: 'Montserrat', sans-serif;
}

.nav-bar {
  background-color: white;
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}

.menu-btn-container {
  display: none;
}

.small-screen {
  display: none;
}

.title {
  width: 100%;
  margin: 0;
  padding: 5px 0 5px 20px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-link {
  width: max-content;
  margin: 0 30px 0 30px;
  font-weight: bold;  
}

.opening-content-container {
  background-color: white;
  margin: 100px auto;
  padding: 20px 50px 50px 50px;
  width: 60%;
}

.opening-headers {
  margin: 20px 0 -10px 0;
}

.steve-img-container {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

.who-content {
  margin-top: 50px;
  width: 500px;
}

.steve-img {
  width: 30%;
  height: 40%;
  padding-top: 20px;
}

.corvette-img {
  margin-top: -125px;
  width: 55%;
  height: 40%;
}

.journey-container {
  background-color: white;
  margin: 100px auto;
  padding: 50px;
  width: 60%;
}

.projects-header {
  margin: 0 auto 30px auto;
  width: 60%;
}

.project-container {
  background-color: white;
  padding: 10px 50px 50px 50px;
  width: 60%;
  margin: 0 auto 40px auto;
}
.project-title {
  text-align: left;
}

.project-image-container {
  display: flex; 
  justify-content: center;
}

.project-image {
  width: 60%;
  height: 50%;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-link {
  margin: 20px;
}

.contact-container {
  background-color: white;
  margin: 100px auto;
  padding: 50px;
  width: 60%;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.center {
  margin: 0 auto;
}

.footer {
  height: 100px;
}

h2 {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  font-weight: bold;
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .steve-img-container {
    flex-wrap: wrap-reverse;
    justify-content: center;    
  }

  .who-content {
    margin-top: 50px;
    width: 100%;
  }

  .steve-img {
    width: 50%;
  }

  .corvette-img {
    margin-top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
    padding-bottom: 50px;
    align-items: stretch;
  }

  .menu-btn-container {
    display: flex;
    justify-content: center;
    background-color: white; 
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .menu {
    background-color: rgb(243, 243, 243);     
    width: 40%;
    height: 30px;
  }

  .nav-link-container {
    display: none;
    flex-direction: column;
    background-color: white;
    margin-bottom: -10px;
  }

  .nav-link {
    margin: 10px 0 10px 0;
  }
  
  .title {
    padding-left: 0;
    text-align: center;
  }

  .opening-content-container {
   margin-top: 100px;
  }
}
